* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

.button {
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
}
.button__item {
    display: block;
    position: relative;
    font-size: 0px;
}
.button__item:before {
    content: 'Read more...';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    text-decoration: none;
    background: #880202;
    max-width: 300px;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.button__item:hover:before {
    color: #880202;
    background: #86030363;
}